body {
	
	background-color:#fff;margin:0px;padding:0px;padding-top:60px;
}

.navicon {
	background-color:#e6b904;border-bottom:1px solid #fff;
	box-shadow: 0px 0px 5px 0px #999999;
}

.marginn {
	padding-left:8%;padding-right:10%;
}

.pencarian {
	border:none;width:600px;height:34px;
}

.buttonsearch{
	background-color:white;border:1px solid #ced0d1;height:34px;
}

.borderight {
	border-right:0px solid #e6b800;
}

.mywarna {
	color:white;font-family:'open sans,tahoma,sans-serif';font-size:15px;
}


.bordeleft {
	border-left:0px solid #e6b800;
}

.backslide {
	background-color:white;
	margin:0px;
	padding:0px;
	margin-bottom:1%;
	padding:2%;
	font-family:'calibri';
}

.as {
	background-color:white;margin:0px;padding:0px;margin-bottom:1%;padding:2%;font-family:'calibri';
}